* {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
}
:root {
  overscroll-behavior: none;
}

p {
  padding: 4px;
}

/* HIDE SCROLLBARS */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* HIDE SCROLLBARS */

body {
  background-color: #151821;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: horizontal;
  position: fixed;
  width: 100%;

  padding: 8px;
}

.navbar li {
  float: left;
  margin: 0;
}

.navbar li a {
  margin: 0;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;

  backdrop-filter: blur(2px) saturate(80%);
  -webkit-backdrop-filter: blur(2px) saturate(80%);
  background-color: rgba(17, 25, 40, 0.2);
  border-radius: 12px;
  margin-right: 8px;
  border: 2px solid rgba(255, 255, 255, 0.125);

  transition: background-color 0.3s;
}

.navbar li a:hover {
  background-color: rgba(77, 84, 96, 0.4);
}
/* NAVBAR */

.content {
  padding-top: 64px;
  margin: 0;
  background-image: url(./assets/space_background.png);
  background-size: 1536px;
  image-rendering: pixelated;
}
