* {
  color: white;
  margin: 0;
}
:root {
  overscroll-behavior: none;
}

p {
  padding: 4px;
}

/* HIDE SCROLLBARS */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* HIDE SCROLLBARS */

body {
  background-color: #151821;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
.navbar {
  z-index: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  text-shadow: 0px 0px 4px black;

  transform: translateX(calc(-100% + 1px));
  transition: transform 0.3s ease-in-out;
}

.navbar:hover {
  transform: translateX(0%);
}

.navbar li {
  float: top;
}

.navbar li a {
  font-size: 24px;
  margin: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;

  backdrop-filter: blur(4px) saturate(65%);
  -webkit-backdrop-filter: blur(4px) saturate(65%);
  background-color: rgba(35, 37, 38, 0.358);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);

  transition: background-color 0.3s;
}
.navbar li:first-child a {
  margin-top: 16px;
}
.navbar li div {
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);
  margin-left: auto;
  margin-right: auto;
}

.navbar li a:hover {
  background-color: rgba(11, 14, 18, 0.75);
}
/* NAVBAR */

/* PARALLAX */
@keyframes parallax {
  from {
    background-position: bottom 0px center;
  }
  to {
    background-position: bottom -512px center;
  }
}
/* PARALLAX */

.background {
  background-image: url(./assets/space_background.png);
  background-size: 1536px;
  image-rendering: pixelated;
  animation: parallax linear;
  animation-timeline: scroll();
}

.content {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 64px;
  margin: 0;
}

/* Light mode color scheme */
/* .content {
  backdrop-filter: invert(1);
}
.content * {
  color: rgb(56, 48, 29);
} */
