* {
  color: white;
  margin: 0;
  font-family: Roboto;
}
:root {
  overscroll-behavior: none;
}

p {
  padding: 4px;
}

/* HIDE SCROLLBARS */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* HIDE SCROLLBARS */

body {
  background-color: #151821;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
.navbar {
  z-index: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  text-shadow: 0px 0px 4px black;

  transform: translateX(calc(-100% + 1px));
  transition: transform 0.3s ease-in-out;
}

.navbar:hover {
  transform: translateX(0%);
}

.navbar li {
  float: top;
}

.navbar li a {
  font-size: 24px;
  margin: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;

  backdrop-filter: blur(4px) saturate(65%);
  -webkit-backdrop-filter: blur(4px) saturate(65%);
  background-color: rgba(35, 37, 38, 0.358);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);

  transition: background-color 0.3s;
}
.navbar li:first-child a {
  margin-top: 16px;
}
.navbar li div {
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);
  margin-left: auto;
  margin-right: auto;
}

.navbar li a:hover {
  background-color: rgba(11, 14, 18, 0.75);
}
/* NAVBAR */

/* PARALLAX */
@keyframes parallax {
  from {
    background-position: bottom 0px center;
  }
  to {
    background-position: bottom -512px center;
  }
}
/* PARALLAX */

.background {
  background-image: url(./assets/space_background.png);
  background-size: 1536px;
  image-rendering: optimizeQuality;
  animation: parallax linear;
  animation-timeline: scroll();
}

.content {
  padding-top: 64px;
  margin: 0;
}

/* Light mode color scheme */
/* .content {
  backdrop-filter: invert(1);
}
.content * {
  color: rgb(56, 48, 29);
} */

.textblock {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(213, 219, 232, 0.66);
  backdrop-filter: saturate(0.5) brightness(2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
  padding-left: 64px;
  padding-right: 64px;
}
.textblock * {
  color: black;
}

.textblock h1 {
  width: fit-content;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.226);
}

.unityCardgame {
  display: flex;
  flex-direction: row;
}

.unityCardgame div {
  width: 100%;
}

/* TV */
.tv {
  position: relative;
  height: 512px;
  width: 512px;
}

.tvImg {
  z-index: 20;
  position: absolute;

  top: 0px;
  right: 0px;
  width: 512px;
  height: 512px;
  filter: drop-shadow(4px 4px 4px #00000086);
}
.tvContent {
  z-index: 19;
  position: absolute;
  height: 192px;
  top: 60px;
  right: 210px;
}

@keyframes hover {
  from {
    transform: translateY(-32px);
  }
  to {
    transform: translateY(0px);
  }
}
.tv img {
  animation: hover 4s infinite ease-in-out alternate;
  animation-iteration-count: infinite;
}
/* TV */

/* Portfolio */

.portfolioFlex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.portfolioFlex div h1 {
  margin-left: auto;
  margin-right: auto;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 80px;
  column-gap: 80px;
  margin-top: 30px;
}
.portfolioCard {
  margin: auto;
  background-color: rgba(33, 34, 37, 0.792);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.525);
  border: 2px solid black;
  border-radius: 8px;
  width: 1fr;
  padding-top: 16px;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.portfolioCard * {
  color: rgb(206, 219, 234);
}

.portfolioCard:hover {
  transform: scale(1.1);
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.242);
}
.portfolioCard :first-child {
  margin-bottom: auto;
  padding-bottom: 0px;
}
.portfolioCard img {
  width: 100%;
  border-top: 2px solid black;
}
