* {
  color: white;
  margin: 0;

  font-family: "JetBrains Mono", Monospace;
}
h1 {
  font-family: Roboto;
}
:root {
  overscroll-behavior: none;
}

p {
  padding: 4px;
}

/* HIDE SCROLLBARS */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* HIDE SCROLLBARS */

body {
  background-color: #151821;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
.navbar {
  z-index: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  text-shadow: 0px 0px 4px black;

  transform: translateX(calc(-100% + 1px));
  transition: transform 0.3s ease-in-out;
}

.navbar:hover {
  transform: translateX(0%);
}

.navbar li {
  float: top;
}

.navbar li a {
  font-size: 24px;
  margin: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;

  backdrop-filter: blur(4px) saturate(65%);
  -webkit-backdrop-filter: blur(4px) saturate(65%);
  background-color: rgba(35, 37, 38, 0.358);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);

  transition: background-color 0.3s;
}
.navbar li:first-child a {
  margin-top: 16px;
}
.navbar li div {
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.468);
  margin-left: auto;
  margin-right: auto;
}

.navbar li a:hover {
  background-color: rgba(11, 14, 18, 0.75);
}
/* NAVBAR */

/* PARALLAX */
@keyframes parallax {
  from {
    background-position: bottom 0px center;
  }
  to {
    background-position: bottom -1536px center;
  }
}
/* PARALLAX */

.background {
  background-image: url(./assets/space_background.png);
  background-size: 1536px;
  image-rendering: optimizeQuality;
  animation: parallax linear;
  animation-timeline: scroll();
}

.content {
  padding-top: 64px;
  margin: 0;
}

/* Light mode color scheme */
/* .content {
  backdrop-filter: invert(1);
}
.content * {
  color: rgb(56, 48, 29);
} */

.textblock {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(204, 210, 214, 0.664);
  backdrop-filter: brightness(4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
  padding-left: 64px;
  padding-right: 64px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.textblock * {
  color: black;
}

.textblock h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.226);
}

h3 {
  font-family: roboto;
}

.unityCardgame {
  display: flex;
  flex-direction: row;
}

.unityCardgame div {
  width: 100%;
}

/* TV */
.tv {
  position: relative;
  height: 512px;
  width: 512px;
}

.tvImg {
  z-index: 20;
  position: absolute;

  top: 0px;
  right: 0px;
  width: 512px;
  height: 512px;
  filter: drop-shadow(4px 4px 4px #00000086);
}
.tvContent {
  z-index: 19;
  position: absolute;
  height: 192px;
  top: 60px;
  right: 210px;
}

@keyframes hover {
  from {
    transform: translateY(-32px);
  }
  to {
    transform: translateY(0px);
  }
}
.tv img {
  animation: hover 4s infinite ease-in-out alternate;
  animation-iteration-count: infinite;
}
/* TV */

/* About Me */

.aboutMeFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMeFlex :first-child {
  width: 100%;
}

.aboutMeFlex :first-child h1 {
  width: calc(100% - 100px);
}

.aboutMeFlex2 {
  display: flex;
  flex-direction: row;
}
.aboutMeFlex2 h1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 48px;
}
.aboutMeFlex3 {
  font-size: 20px;
}

.aboutMeFlex3 {
  height: auto;
}

.aboutMeFlex3 > div:first-child {
  width: 50%;
  float: left;
}
.aboutMeFlex3 > div:last-child {
  float: right;
  margin-right: 100px;
}

#photo {
  width: 300px;
  aspect-ratio: 3/4;
  object-fit: cover;
}
/* About Me */

/* Portfolio */
.portfolioFlex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.portfolioFlex div h1 {
  margin-left: auto;
  margin-right: auto;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 80px;
  column-gap: 80px;
  margin-top: 30px;
}

.portfolioCard {
  margin: auto;
  background-color: rgba(33, 34, 37, 0.792);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.525);
  border: 2px solid black;
  border-radius: 8px;
  width: fr;
  padding-top: 16px;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.portfolioCard * {
  color: rgb(206, 219, 234);
}

.portfolioCard:hover {
  transform: scale(1.1);
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.242);
}
.portfolioCard :first-child {
  margin-bottom: auto;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolioCard img {
  width: 100%;
  border-top: 2px solid black;
  aspect-ratio: 16/9;
  object-fit: cover;
}
/* Portfolio Card */

/* Over Mij 2 */
.aboutMeLong {
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
}
/*  */

/* Contact */
.contact {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: row;
}
.contact > * {
  margin: auto;
  background-color: rgba(33, 34, 37, 0.792);
  color: rgb(206, 219, 234);
  text-align: center;
  width: 150px;
  height: 75px;
  display: block;
  line-height: 75px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;

  text-decoration: unset;
  font-family: Roboto;
  font-size: 20px;
}

.contactButton {
  transition: 0.2s ease-in-out;
}
.contactButton:hover {
  transform: scale(1.03);
}
/*  */

/* Skills */
.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skillList {
  width: 100%;
  text-align: center;
}
.skill {
  height: 20px;
  margin: 10px;
  margin-right: 30px;

  display: flex;
  flex-direction: row;
}
.skillName {
  align-items: center;
  text-align: right;
  width: 35%;
  margin-right: 10px;
}
.skillBarOutline {
  height: 100%;
  width: 65%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.47);
}
.skillBar {
  height: 100%;
  line-height: 12px;
  text-align: left;
  padding-left: 0px;
  background-color: rgba(33, 34, 37, 0.792);
}
.skillBar p {
  color: rgb(206, 219, 234);
}
/*  */
